---
import Section from "@/layouts/Section.astro"
import { ArrowLeftIcon, Button, ResumeButton } from "@/components/ui"

const { i18n } = Astro.props as { i18n: HERO }

const codingYears = new Date().getFullYear() - 2021
---

<Section class="min-h-[calc(100vh-5rem)] max-h-none pt-20" maxWidth="1000px">
  <div class="flex items-center h-full w-full relative">
    <div class="flex flex-col justify-center w-full tablet:p-0">
      <div class={'animate-fadeUp delay-[2s]'}>
        <h1 class="text-hero font-extrabold text-textColor-300 leading-[1.2em] tracking-wide">
          Ivan Miyashiro.
          <span class="hidden mobile:block text-textColor-200">Software Developer.</span>
          <span class="mobile:hidden block text-textColor-200">Software Dev.</span>
        </h1>
        <p class="mt-[1em] mb-[3em] leading-[1.5em] tablet:max-w-[550px] font-light">
          <span class="text-accent-100 font-medium">+{codingYears} {i18n.RICH_TEXT.ACCENT} </span> {i18n.RICH_TEXT.TEXT}
        </p>
        <div class="flex gap-4">
          <ResumeButton className="w-[125px] tablet:w-[150px] tablet:h-[45px]">
            {i18n.PRIMARY_BTN}
          </ResumeButton>
          <Button
            variant="outlined" 
            className="w-[125px] tablet:w-[150px] tablet:h-[45px] flex gap-2"
            data-about-btn
          >
            {i18n.SECONDARY_BTN}
            <ArrowLeftIcon />
          </Button>
        </div>
      </div>
    </div>
  </div>
</Section>

<script>
  const button = document.querySelector("[data-about-btn]")
  const aboutSection = document.querySelector("#about")

  if (button) {
    button.addEventListener("click", () => {
      aboutSection?.scrollIntoView({ behavior: 'smooth', block: 'center' })
    })
  }
</script>