---
import { Footer, Header, SocialMedia } from '@/components/ui'
import '@fontsource-variable/onest';

const { currentLocale } = Astro
const { title, description, i18nHeader, i18nFooter } = Astro.props as {
	title: string
  description: string
  i18nHeader: string[]
  i18nFooter: FOOTER
};
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 overflow-x-hidden text-textColor-200 before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] before:bg-[size:40px_40px] before:[mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_100%,transparent_100%)] after:fixed after:bottom-0 after:z-[-2] after:w-full after:h-screen after:bg-[radial-gradient(ellipse_80%_80%_at_50%_125%,rgba(120,119,198,0.2),rgba(255,255,255,0))]">
    <Header client:load i18n={i18nHeader} />
    <main class="mt-[80px] tablet:mt-[70px]">
		  <slot />
      <Footer i18n={i18nFooter} />
    </main>
    <SocialMedia client:load currentLocale={currentLocale} />
	</body>
</html>
<style is:global>
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b0b2c3;
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(20px);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }

  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest Variable', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  .scroll-animation {
    animation: fade linear both;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 40%;
  }

  @media (max-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  @media (max-width: 499px) {
    html {
      font-size: 15px;
    }
  }
</style>